.tooltip {
  position: absolute;
  display: none;
  background: #111111;
  color: white;
}
.tooltip.on {
  display: block;
}

[data-toggle-group] .active {
  background: lime;
}

[data-toggle-target-group] > * {
  display: none;
}
[data-toggle-target-group] > *.active {
  display: block;
}

.webhook-calendar {
  background: #eeeeee;
  position: absolute;
}
.webhook-calendar nav {
  display: inline-block;
}
.webhook-calendar table {
  text-align: center;
  font-size: 10px;
}
.webhook-calendar th {
  font-weight: normal;
}
.webhook-calendar td {
  line-height: 1.5;
  width: 30px;
}
.webhook-calendar td:not(:empty) {
  cursor: pointer;
}
.webhook-calendar td:not(:empty):hover {
  background: #cccccc;
}
.webhook-calendar .today {
  outline: 1px solid #cccccc;
}
