.tooltip
  position: absolute
  display: none
  background: #111
  color: #fff

  &.on
    display: block

[data-toggle-target-group]
  > *
    display: none
    &.active
      display: block

.webhook-calendar
  background: #eee
  position: absolute
  nav
    display: inline-block
  table
    text-align: center
    font-size: 10px
  th
    font-weight: normal
  td
    line-height: 1.5
    width: 30px
    &:not(:empty)
      cursor: pointer
      &:hover
        background: #ccc
  .today
    outline: 1px solid #ccc

.affix
  position: fixed
