.tooltip
  position: absolute
  display: none
  background: #111
  color: #fff

  &.on
    display: block

[data-toggle-target-group]
  > *
    display: none
    &.active
      display: block

.webhook-calendar
  background: #eee
  position: absolute
  nav
    display: inline-block
  table
    text-align: center
    font-size: 10px
  th
    font-weight: normal
  td
    line-height: 1.5
    width: 30px
    &:not(:empty)
      cursor: pointer
      &:hover
        background: #ccc
  .today
    outline: 1px solid #ccc

.affix
  position: fixed

.wh-modal
  position: fixed
  top: 50%
  left: 50%
  height: 400px
  width: 500px
  margin-top: -250px
  margin-left: -200px
  background: #fff
  border-radius: 10px
  z-index: 1050

.wh-modal-screen
  position: fixed
  background: rgba(0, 0, 0, 0.8)
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: 1040
